@import 'base/variables'; 
@import 'funtions/mixins';


/* footer */ 

footer {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    background-color: $bg-color-footer;
    border-radius: 1rem;

    @media (max-width: 768px) {
        background-color: #f49b4a;
        
    }

    .footer-lists {
        text-decoration: none;
        color: rgb(63, 63, 63);
        font-size: 0.8rem;
        font-weight: bold;
        max-width: 300px;
        margin: 0.5rem;
        padding: 0.8rem 0.8rem;
        flex-direction: column;
      
    }
    
    .pie-pagina {
        font-weight: lighter;
        color: $text-color1;
        font-size: 0.8rem;
        text-decoration: none;
        
    }
    .footer-lists-second {
        display: flex;
        flex-direction: column;
    }
    .footer-lists-second {
        text-decoration: none;
        font-family: $ff ;
        color: rgb(63, 63, 63);
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0.5rem;
        padding: 0.8rem 0.8rem;
    }
    .footer-lists-second a {
        color:#CCCCCC;
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: none; 
        max-width: 300px;
        padding: 0.8rem 0.8rem;
    }
    .footer-lists-second .pie-pagina {
        font-weight: normal;
        color: $text-color1;
        font-size: 0.8rem;
        text-decoration: none;
       
    }
    
    .footer-socials {
        display: flex;
        flex-direction: column;
    }
    
    .footer-socials div {
        display: flex;
    }
    .footer-socials h4 {
        text-decoration: none;
        color: rgb(63, 63, 63);
        font-size: 0.5rem;
        font-weight: bold;
    }
    .footer-socials img {
        width: 4vw;
        height: 4vw;
        object-position: left;
        display: flex;
        justify-content: space-between;
        padding top: 0.5rem 0.5rem;

    }
    .footer-socials a {
        color:#CCCCCC;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

